{% extends 'main/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center" id="tools">
                <div class="input-group">
                    <input type="text" class="form-control" id="search-input" placeholder="请输入管理IP or 主机IP">
                    <div class="input-group-addon" style="cursor: pointer" onclick="search()">搜索</div>
                </div>
                <br>
                <input class="btn btn-default" type="button" value="全选" onclick="selectALL()">
                <input class="btn btn-default" type="button" value="取消" onclick="cancelALL()">
                <input class="btn btn-default" type="button" value="反选" onclick="reversALL()">
                <input class="btn btn-danger" type="button" value="删除" onclick="delete_items()">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td>选择</td>
                            <td>管理IP</td>
                            <td>业务IP</td>
                            <td>主机名</td>
                            <td>系统名称</td>
                            <td>安装状态</td>
                            <td colspan="2">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>10.10.10.100</td>
                            <td>192.168.10.100/24</td>
                            <td>wecloud-xyapp-100</td>
                            <td>CentOS 7</td>
                            <td>安装中</td>
                            <td><button type="button" class="btn btn-success" onclick="install()">安装</button></td>
                            <td><button type="button" class="btn btn-info" onclick="edit()">修改</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}